@model A1_IVP


<div class="col-span-6 sm:col-span-4">
    <label class="text-base font-semibold text-gray-900">@Html.DisplayNameFor(model => model.REASON)</label>
    <p class="text-sm text-gray-500">REASON</p>
    <fieldset class="mt-4">
        <legend class="sr-only">REASON</legend>
        <div class="space-y-4">
            @foreach (KeyValuePair<int, string> reason in Model.ParticipationReasons)
            {
                <div class="relative flex items-start">
                    <div class="flex items-center">
                        <input type="radio" asp-for="REASON" id="ParticipationReasons[@reason.Key]" value="@reason.Key" class="h-4 border-gray-300 text-indigo-600 focus:ring-indigo-600" />
                        <label for="ParticipationReasons[@reason.Key]" class="ml-3 block text-sm font-medium leading-6 text-gray-900"> <span class="inline-flex items-center rounded-full bg-gray-100 px-2.5 py-0.5 text-xs font-medium text-gray-800">@reason.Key</span> @reason.Value</label>
                    </div>
                </div>
            }
        </div>
    </fieldset>
</div>

<div class="col-span-6 sm:col-span-4">
    <label asp-for="REFERSC" class="block text-sm font-medium text-gray-700"></label>
    <div class="mt-1">
        <input asp-for="REFERSC" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" />
    </div>
</div>

<div class="col-span-6 sm:col-span-4">
    <label asp-for="@Model.HISPORX">@Html.DisplayNameFor(m => m.HISPORX)</label>
    <div class="mt-1 sm:col-span-2 sm:mt-0">
        <input asp-for="@Model.HISPORX" />
    </div>
</div>
