@model A1_IVP


<div class="col-span-6 sm:col-span-4">
    <label class="text-base font-semibold text-gray-900"><span class="counter"></span><span class="counter invisible"></span> @Html.DisplayNameFor(model => model.REASON)</label>
    <p class="text-sm text-gray-500">REASON</p>
    @*<fieldset class="mt-4">
            <legend class="sr-only">REASON</legend>
            <div class="space-y-4">
                @foreach (KeyValuePair<int, string> reason in Model.ParticipationReasons)
                {
                    <div class="relative flex items-start">
                        <div class="flex items-center">
                            <input type="radio" asp-for="REASON" id="ParticipationReasons[@reason.Key]" value="@reason.Key" class="h-4 border-gray-300 text-indigo-600 focus:ring-indigo-600" />
                            <label for="ParticipationReasons[@reason.Key]" class="ml-3 block text-sm font-medium leading-6 text-gray-900"> <span class="inline-flex items-center rounded-full bg-gray-100 px-2.5 py-0.5 text-xs font-medium text-gray-800">@reason.Key</span> @reason.Value</label>
                        </div>
                    </div>
                }
            </div>
        </fieldset>*@

    <radio-button-group id="ParticipationReasons" for="REASON" items="Model.ParticipationReasonsListItems"></radio-button-group>
</div>

<div class="col-span-6 sm:col-span-4">
    <label class="text-base font-semibold text-gray-900"><span class="counter"></span><span class="counter invisible"></span> @Html.DisplayNameFor(model => model.REFERSC)</label>
    <p class="text-sm text-gray-500">REFERSC</p>
    <p class="text-sm text-gray-500">(If answer is 1 or 2, CONTINUE TO QUESTION 2b; otherwise, SKIP TO QUESTION 3.)</p>
    <radio-button-group id="ReferralSources" for="REFERSC" items="Model.ReferralSourcesListItems"></radio-button-group>
</div>

<div class="col-span-6 sm:col-span-4">
    <label class="text-base font-semibold text-gray-900"><span class="counter"></span><span class="counter invisible"></span> @Html.DisplayNameFor(model => model.LEARNED)</label>
    <p class="text-sm text-gray-500">LEARNED</p>
    <radio-button-group id="SecondaryReferralSources" for="LEARNED" items="Model.SecondaryReferralSourcesListItems"></radio-button-group>
</div>

<div class="col-span-6 sm:col-span-4">
    <label class="text-base font-semibold text-gray-900"><span class="counter"></span><span class="counter invisible"></span> @Html.DisplayNameFor(model => model.PRESTAT)</label>
    <p class="text-sm text-gray-500">PRESTAT</p>
    <radio-button-group id="DiseaseStatuses" for="PRESTAT" items="Model.DiseaseStatusesListItems"></radio-button-group>
</div>

<div class="col-span-6 sm:col-span-4">
    <label class="text-base font-semibold text-gray-900"><span class="counter"></span><span class="counter invisible"></span> @Html.DisplayNameFor(model => model.PRESPART)</label>
    <p class="text-sm text-gray-500">PRESPART</p>
    <radio-button-group id="PresumedParticipation" for="PRESPART" items="Model.ParticipationsListItems"></radio-button-group>
</div>

<div class="col-span-6 sm:col-span-4">
    <label class="text-base font-semibold text-gray-900"><span class="counter"></span><span class="counter invisible"></span> @Html.DisplayNameFor(model => model.SOURCENW)</label>
    <p class="text-sm text-gray-500">SOURCENW</p>
    <radio-button-group id="EnrollmentTypes" for="SOURCENW" items="Model.EnrollmentTypesListItems"></radio-button-group>
</div>
