@page "{id:int?}"
@model UDS.Net.Forms.Pages.Visits.DetailsModel
@{
}

@if (Model.Visit != null)
{
    <h2>Visit details for @Model.Visit.ParticipationId</h2>

    <ul>
        @foreach (var form in Model.Visit.Forms)
        {
            <li>
                @Model.Visit.Version <br />
                @Model.Visit.Kind <br />
                <a asp-page="/@Model.Visit.Version/@form.Title" asp-route-id="@Model.Visit.Id" asp-route-visitKind="@Model.Visit.Kind">@form.Title - @form.Description</a>
            </li>
        }
    </ul>
}