@page  "{id:int?}"
@model UDS.Net.Forms.Pages.UDS3.A1Model
@{
    Layout = "_LayoutForm";
}

<form method="post" class="space-y-8 divide-y divide-gray-200">
    <div>
        <h2 class="text-lg font-medium leading-6 text-gray-900">A1: Participant Demographics</h2>
        <p class="mt-1 text-sm text-gray-500">INSTRUCTIONS: This form is to be completed by intake interviewer based on ADC scheduling records, participant interview, medical records, and proxy co-participant report (as needed). For additional clarification and examples, see <guidebook kind="IVP">UDS Coding Guidebook for In-person initial Visit Packet</guidebook>, Form A1. Check only <span class="underline">one</span> box per question.</p>

        <div class="grid gap-x-6 gap-y-8 sm:grid sm:grid-cols-3 sm:items-start sm:pt-5">


            @if (Model.Visit != null && Model.Visit.Kind == "IVP")
            {
                @Html.EditorFor(m => m.A1.IVP)
            }

            <div class="sm:col-span-1">
                <label asp-for="@Model.A1.BIRTHMO">@Html.DisplayNameFor(m => m.A1.BIRTHMO)</label>
                <div class="mt-2">
                    <input asp-for="@Model.A1.BIRTHMO" />
                </div>
                <p class="mt-2 text-sm text-red-600" asp-validation-for="@Model.A1.BIRTHMO"></p>
            </div>
            <div class="sm:col-span-1">
                <label asp-for="@Model.A1.BIRTHYR">@Html.DisplayNameFor(m => m.A1.BIRTHYR)</label>
                <div class="mt-2">
                    <input asp-for="@Model.A1.BIRTHYR" />
                </div>
                <p class="mt-2 text-sm text-red-600" asp-validation-for="@Model.A1.BIRTHYR"></p>
            </div>

            <div class="col-span-full">
                <label asp-for="@Model.A1.SEX">@Html.DisplayNameFor(m => m.A1.SEX)</label>
                <div class="mt-2">
                    <input asp-for="@Model.A1.SEX" />
                </div>
                <p class="mt-2 text-sm text-red-600" asp-validation-for="@Model.A1.SEX"></p>
            </div>

            @if (Model.Visit != null && Model.Visit.Kind == "IVP")
            {
                @Html.EditorFor(m => m.A1.EthnicGroup)
                @Html.EditorFor(m => m.A1.RacialGroup)
                @Html.EditorFor(m => m.A1.LangEdu)
            }


            <div class="col-span-full">
                <label asp-for="@Model.A1.MARISTAT">@Html.DisplayNameFor(m => m.A1.MARISTAT)</label>
                <div class="mt-2">
                    <input asp-for="@Model.A1.MARISTAT" />
                </div>
            </div>

            <div class="col-span-full">
                <label asp-for="@Model.A1.LIVSITUA">@Html.DisplayNameFor(m => m.A1.LIVSITUA)</label>
                <div class="mt-1">
                    <input asp-for="@Model.A1.LIVSITUA" />
                </div>
            </div>

            <div class="col-span-full">
                <label asp-for="@Model.A1.LIVSITUA">@Html.DisplayNameFor(m => m.A1.LIVSITUA)</label>
                <div class="mt-1">
                    <input asp-for="@Model.A1.INDEPEND" />
                </div>
            </div>

            <div class="col-span-full">
                <label asp-for="@Model.A1.LIVSITUA">@Html.DisplayNameFor(m => m.A1.LIVSITUA)</label>
                <div class="mt-1">
                    <input asp-for="@Model.A1.RESIDENC" />
                </div>
            </div>

            @if (Model.Visit != null && Model.Visit.Kind == "IVP")
            {
                @Html.EditorFor(m => m.A1.Zip)
            }
        </div>
    </div>

    <div class="divide-y divide-gray-200 pt-6">
        <div>
            <p asp-validation-summary="ModelOnly" class="mt-1 text-sm text-red-700"></p>
        </div>
        <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Save</button>
    </div>
</form>

