@page  "{id:int?}"
@model UDS.Net.Forms.Pages.UDS3.A1Model
@{
    Layout = "_LayoutForm";
}

<form method="post" class="space-y-8 divide-y divide-gray-200">
    <div>
        <h2 class="text-lg font-medium leading-6 text-gray-900">A1: Participant Demographics</h2>
        <p class="mt-1 text-sm text-gray-500">INSTRUCTIONS: This form is to be completed by intake interviewer based on ADC scheduling records, participant interview, medical records, and proxy co-participant report (as needed). For additional clarification and examples, see <guidebook kind="IVP">UDS Coding Guidebook for In-person initial Visit Packet</guidebook>, Form A1. Check only <span class="underline">one</span> box per question.</p>

        <div class="grid gap-x-6 gap-y-8 sm:grid sm:grid-cols-3 sm:items-start sm:pt-5">


            @if (Model.Visit != null && Model.Visit.Kind == "IVP")
            {
                <div class="col-span-6 sm:col-span-4">
                    <label class="text-base font-semibold text-gray-900"><span class="counter"></span><span class="counter invisible"></span> @Html.DisplayNameFor(model => model.A1.REASON)</label>
                    <p class="text-sm text-gray-500">@(nameof(Model.A1.REASON))</p>
                    <p class="text-sm text-gray-500" asp-description-for="@Model.A1.REASON"></p>
                    <radio-button-group id="ParticipationReasons" for="@Model.A1.REASON" items="Model.ParticipationReasonsListItems"></radio-button-group>
                    <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.A1.BIRTHMO"></span>
                </div>

                <div class="col-span-6 sm:col-span-4">
                    <label class="text-base font-semibold text-gray-900"><span class="counter"></span><span class="counter invisible"></span> @Html.DisplayNameFor(model => model.A1.REFERSC)</label>
                    <p class="text-sm text-gray-500">@(nameof(Model.A1.REFERSC))</p>
                    <p class="text-sm text-gray-500" asp-description-for="@Model.A1.REFERSC"></p>
                    <radio-button-group id="ReferralSources" for="@Model.A1.REFERSC" items="Model.ReferralSourcesListItems"></radio-button-group>
                    <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.A1.REFERSC"></span>
                </div>

                <div class="col-span-6 sm:col-span-4">
                    <label class="text-base font-semibold text-gray-900"><span class="counter"></span><span class="counter invisible"></span> @Html.DisplayNameFor(model => model.A1.LEARNED)</label>
                    <p class="text-sm text-gray-500">LEARNED</p>
                    <radio-button-group id="SecondaryReferralSources" for="@Model.A1.LEARNED" items="Model.SecondaryReferralSourcesListItems"></radio-button-group>
                </div>

                <div class="col-span-6 sm:col-span-4">
                    <label class="text-base font-semibold text-gray-900"><span class="counter"></span><span class="counter invisible"></span> @Html.DisplayNameFor(model => model.A1.PRESTAT)</label>
                    <p class="text-sm text-gray-500">PRESTAT</p>
                    <radio-button-group id="DiseaseStatuses" for="@Model.A1.PRESTAT" items="Model.DiseaseStatusesListItems"></radio-button-group>
                </div>

                <div class="col-span-6 sm:col-span-4">
                    <label class="text-base font-semibold text-gray-900"><span class="counter"></span><span class="counter invisible"></span> @Html.DisplayNameFor(model => model.A1.PRESPART)</label>
                    <p class="text-sm text-gray-500">PRESPART</p>
                    <radio-button-group id="PresumedParticipation" for="@Model.A1.PRESPART" items="Model.ParticipationsListItems"></radio-button-group>
                </div>

                <div class="col-span-6 sm:col-span-4">
                    <label class="text-base font-semibold text-gray-900"><span class="counter"></span><span class="counter invisible"></span> @Html.DisplayNameFor(model => model.A1.SOURCENW)</label>
                    <p class="text-sm text-gray-500">SOURCENW</p>
                    <radio-button-group id="EnrollmentTypes" for="@Model.A1.SOURCENW" items="Model.EnrollmentTypesListItems"></radio-button-group>
                </div>
            }

            <div class="sm:col-span-1">
                <label asp-for="@Model.A1.BIRTHMO">@Html.DisplayNameFor(m => m.A1.BIRTHMO)</label>
                <div class="mt-2">
                    <input asp-for="@Model.A1.BIRTHMO" />
                </div>
                <p class="mt-2 text-sm text-red-600" asp-validation-for="@Model.A1.BIRTHMO"></p>
            </div>
            <div class="sm:col-span-1">
                <label asp-for="@Model.A1.BIRTHYR">@Html.DisplayNameFor(m => m.A1.BIRTHYR)</label>
                <div class="mt-2">
                    <input asp-for="@Model.A1.BIRTHYR" />
                </div>
                <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.A1.BIRTHYR"></span>
            </div>

            <div class="col-span-full">
                <label asp-for="@Model.A1.SEX">@Html.DisplayNameFor(m => m.A1.SEX)</label>
                <radio-button-group id="Sexes" for="@Model.A1.SEX" items="Model.SexListItems"></radio-button-group>
                <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.A1.SEX"></span>
            </div>

            @if (Model.Visit != null && Model.Visit.Kind == "IVP")
            {
                /* Ethnic group */
                <div class="col-span-6 sm:col-span-4">
                    <label class="text-base font-semibold text-gray-900"><span class="counter"></span><span class="counter invisible"></span> @Html.DisplayNameFor(model => model.A1.HISPANIC)</label>
                    <p class="text-sm text-gray-500">@(nameof(Model.A1.HISPANIC))</p>
                    <p class="text-sm text-gray-500"></p>
                    <radio-button-group id="ReferralSources" for="@Model.A1.HISPANIC" items="Model.HispanicLatinoListItems"></radio-button-group>
                    <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.A1.HISPANIC"></span>
                </div>

                <div class="col-span-6 sm:col-span-4">
                    <label class="text-base font-semibold text-gray-900"><span class="counter"></span><span class="counter invisible"></span> @Html.DisplayNameFor(model => model.A1.HISPOR)</label>
                    <p class="text-sm text-gray-500">@(nameof(Model.A1.HISPOR))</p>
                    <p class="text-sm text-gray-500" asp-description-for="@Model.A1.HISPOR"></p>
                    <radio-button-group id="Origins" for="@Model.A1.HISPOR" items="Model.OriginsListItems"></radio-button-group>
                    <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.A1.HISPOR"></span>
                </div>

                <div class="col-span-full">
                    <label asp-for="@Model.A1.HISPORX">@Html.DisplayNameFor(m => m.A1.HISPORX)</label>
                    <div class="mt-2">
                        <input asp-for="@Model.A1.HISPORX" />
                    </div>
                    <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.A1.HISPORX"></span>
                </div>

                /* Racial group */

                /* Language and education */
            }


            <div class="col-span-full">
                <label asp-for="@Model.A1.MARISTAT">@Html.DisplayNameFor(m => m.A1.MARISTAT)</label>
                <radio-button-group id="MaritalStatuses" for="@Model.A1.MARISTAT" items="Model.MaritalStatusListItems"></radio-button-group>
            </div>

            <div class="col-span-full">
                <label asp-for="@Model.A1.LIVSITUA">@Html.DisplayNameFor(m => m.A1.LIVSITUA)</label>
                <radio-button-group id="LivingSituations" for="@Model.A1.LIVSITUA" items="Model.LivingSituationListItems"></radio-button-group>
            </div>

            <div class="col-span-full">
                <label asp-for="@Model.A1.INDEPEND">@Html.DisplayNameFor(m => m.A1.INDEPEND)</label>
                <radio-button-group id="IndependenceLevels" for="@Model.A1.INDEPEND" items="Model.IndependenceLevelListItems"></radio-button-group>
            </div>

            <div class="col-span-full">
                <label asp-for="@Model.A1.RESIDENC">@Html.DisplayNameFor(m => m.A1.RESIDENC)</label>
                <radio-button-group id="ResidenceTypes" for="@Model.A1.RESIDENC" items="Model.ResidenceTypeListItems"></radio-button-group>
            </div>

            @if (Model.Visit != null && Model.Visit.Kind == "IVP")
            {
                /* Zip and language */
            }
        </div>
    </div>

    <div class="divide-y divide-gray-200 pt-6">
        <div>
            <p asp-validation-summary="ModelOnly" class="mt-1 text-sm text-red-700"></p>
        </div>
        <partial name="_FormFooter" for="@Model.A1" />
    </div>
</form>

