@page "{id:int?}"
@model UDS.Net.Forms.Pages.UDS3.A2Model
@{
    Layout = "_LayoutForm";
    string rowCSS = "sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6";
}

<div>
    <h2 class="text-lg font-medium leading-6 text-gray-900">A2: Co-participant Demographics</h2>
    <p class="mt-1 text-sm text-gray-500">INSTRUCTIONS: This form is to be completed by intake interviewer based on co-participant's report. For additional clarification and examples, see <guidebook kind="@Model.Visit.Kind"></guidebook>, Form A2. Check only <span class="underline">one</span> box per question.</p>
</div>

<div>
    <div class="grid gap-x-6 gap-y-8 sm:grid sm:grid-cols-3 sm:items-start sm:pt-5">

        <div class="sm:col-span-1">
            <label asp-for="A2.INBIRMO">@Html.DisplayNameFor(m => m.A2.INBIRMO)</label>
            <div class="mt-2">
                <input asp-for="A2.INBIRMO" />
            </div>
            <span class="mt-2 text-sm text-red-600" asp-validation-for="A2.INBIRMO"></span>
        </div>
        <div class="sm:col-span-1">
            <label asp-for="A2.INBIRYR">@Html.DisplayNameFor(m => m.A2.INBIRYR)</label>
            <div class="mt-2">
                <input asp-for="A2.INBIRYR" />
            </div>
            <span class="mt-2 text-sm text-red-600" asp-validation-for="A2.INBIRYR"></span>
        </div>
        <div class="col-span-full">
            <label asp-for="A2.INSEX">@Html.DisplayNameFor(m => m.A2.INSEX)</label>
            <div class="mt-2">
                <input asp-for="A2.INSEX" />
            </div>
            <span class="mt-2 text-sm text-red-600" asp-validation-for="A2.INSEX"></span>
        </div>
        <div class="col-span-6 sm:col-span-4">
            <label class="text-base font-semibold text-gray-900"><span class="counter"></span><span class="counter invisible"></span> @Html.DisplayNameFor(model => model.A2.INHISP)</label>
            <p class="text-sm text-gray-500">HISPANIC</p>
            <p class="text-sm text-gray-500">(If answer is 1 or 2, CONTINUE TO QUESTION 2b; otherwise, SKIP TO QUESTION 3.)</p>
            <radio-button-group id="HispanicLatino" for="@Model.A2.INHISP" items="Model.HispanicLatinoListItems"></radio-button-group>
            <span class="mt-2 text-sm text-red-600" asp-validation-for="A2.INHISP"></span>
        </div>
        <div class="col-span-6 sm:col-span-4">
            <label class="text-base font-semibold text-gray-900"><span class="counter"></span><span class="counter invisible"></span> @Html.DisplayNameFor(model => model.A2.INHISPOR)</label>
            <p class="text-sm text-gray-500">HISPANIC</p>
            <p class="text-sm text-gray-500">(If answer is 1 or 2, CONTINUE TO QUESTION 2b; otherwise, SKIP TO QUESTION 3.)</p>
            <radio-button-group id="Origins" for="@Model.A2.INHISPOR" items="Model.OriginsListItems"></radio-button-group>
        </div>
        <div class="sm:col-span-1">
            <label asp-for="@Model.A2.INHISPOX">@Html.DisplayNameFor(m => m.A2.INHISPOX)</label>
            <div class="mt-2">
                <input asp-for="@Model.A2.INHISPOX" />
            </div>
            <p class="mt-2 text-sm text-red-600" asp-validation-for="@Model.A2.INHISPOX"></p>
        </div>
    </div>
</div>

<partial name="_FormFooter" for="@Model.A2" />