@page "{id:int?}"
@model UDS.Net.Forms.Areas.Visits.Pages.DetailsModel
@{
}

@if (Model.Visit != null)
{
    <h2>Visit details for @Model.Visit.ParticipationId</h2>

    <ul>
        @foreach (var form in Model.Visit.Forms)
        {
            <li>
                @Model.Visit.Version <br />
                @Model.Visit.Kind <br />
                <a asp-area="@Model.Visit.Version" asp-page="@form.Title" asp-route-visitId="@Model.Visit.Id" asp-route-visitKind="@Model.Visit.Kind">@form.Title - @form.Description</a>
            </li>
        }
    </ul>
}